.container {
    max-width: calc(360px - calc(var(--default-page-indent) * 2));
    margin: 0 auto;
    padding: 20px var(--default-page-indent);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button {
    padding: 20px 22px;
    width: 100%;
    background: #eaeef7;
    border: 1px solid #e0e0e0;
    box-shadow: 2px 2px 6px 0px rgba(84, 60, 151, 0.25);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
}
